@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&family=Inter:wght@100&family=Nunito:wght@200;300;400;500;600&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,600;1,700;1,900&family=Roboto:ital,wght@0,300;0,500;0,900;1,300;1,400;1,700&family=Tajawal:wght@300;400;500;700;800;900&display=swap');

*{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            font-family: 'Cairo', sans-serif;
            font-family: 'Inter', sans-serif;
            font-family: 'Nunito', sans-serif;
            font-family: 'Permanent Marker', cursive;
            font-family: 'Poppins', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-family: 'Tajawal', sans-serif;
}

.header{
            background-image: url("./images (1)/images/background/background1.webp");
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            z-index: 0;
}
.header .a{
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.752);
            z-index: 3;
}
.header .header-container .navbar{
            display: flex;
            justify-content: space-between;
            padding: 10px 8%;
}
.header .header-container .navbar ul{
            display: flex;
            justify-content: center;
            align-items: center;
}
.header .header-container .navbar ul li{
            z-index: 100;
            display: none;
}
.header .header-container .navbar ul li.sp div{
            display: grid;
}
.header .header-container .navbar ul li.sp{
            display: grid;
}
.header .header-container .navbar ul li i{
            font-size: 2.5rem;
            z-index: 100;
            color: #fff;
            margin-left: 10px;
}
.header .header-container .navbar ul li a{
            margin-left: 15px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            transition: .6s border;
}
.header .header-container .navbar img{
            height: 50px;
            z-index: 100;
            color: #fff;
}
.header .header-container .header-content{
            text-align: center;
            display: flex;
            height: 90vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
}
.header .header-container .header-content h1{
            font-size: 4rem;
            color: #fff;
            z-index: 100;
}
.header .header-container .header-content p{
            font-size: 1.5rem;
            color: #fff;
            z-index: 100;
}
.header .header-container .header-content .header-buttons{
            padding: 20px 0;
            z-index: 100;
            display: flex;
            column-gap: 20px;
}
.header .header-container .header-content .header-buttons button{
            padding: 11px 30px;
            border-radius: 5px;
            border: none;
            font-size: 1.1rem;
            font-weight: bold;
            z-index: 100;
}
.header .header-container .header-content .header-buttons button:first-child{
            z-index: 200;
            color: #000;
            background-color: #fff;
}
.header .header-container .header-content .header-buttons button:nth-child(2){
            z-index: 200;
            background-color: rgba(92, 92, 255, 0.552);
            color: #fff;
}
.header .header-container .navbar ul li.sp i{
            position: relative;
            display: flex;
            flex-direction: column;
}
.header .header-container .navbar ul li.sp .z{
            position: absolute;
            top: 70px;
            right: 10%;

}
.header .header-container .navbar ul li.sp .z a{
            background-color: rgb(137, 137, 225);
            color: white;
            padding: 5% 100px;
            margin: 1px;
            display: none;
}




















@media screen and (max-width:750px){
            .header .header-container .navbar ul li :not(li:last-child){
                        display: none;
            }
            .header .header-container .navbar ul li:last-child i{
                        display: flex;
            }
            .header .header-container .header-content h1{
                        font-size: 1.8rem;
            }
            .header .header-container .header-content p{
                        font-size: 1rem;
            }
            .header .header-container .navbar ul li.sp a{
                        display: flex;
            }
            .header .header-container .navbar ul li.sp .z{
                        display: grid;
            }
}